ML-workflow/project/.ipynb_checkpoints/step_function-checkpoint.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Serialize",
  "States": {
    "Serialize": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:646714458109:function:serialize_image_data:$LATEST"
      },
      "Next": "Inference"
    },
    "Inference": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:646714458109:function:perform_inference:$LATEST"
      },
      "Next": "Filter",
      "InputPath": "$.body"
    },
    "Filter": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:646714458109:function:filter_low_confidence:$LATEST"
      },
      "End": true,
      "InputPath": "$.body"
    }
  }
}